/* CORES PADRÕES NÃO MEXER */
/* CORES PADRÕES NÃO MEXER */
/* CORES PADRÕES NÃO MEXER */
/* CORES PADRÕES NÃO MEXER */

:root {
    --vermelho: #6B1F2A;
    --vermelho-escuro: #4A1218;

    --verde: #2D5F3F;
    --verde-escuro: #1F4A2E;

    --bege: #F5E6D3;
    --bege-claro: #FAF1E3;

    --dourado: #C9A961;

    --preto: #1A1A1A;
    --cinza: #7A7A7A;
    --branco: #FFFFFF;
}
