body{
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.contato-box{
    width: 340px;
    background: #8d1527;
    border-radius: 4px;
    padding: 8px 0 12px;
}

.contato-box h1{
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

.icones{
    display: flex;
    justify-content: space-evenly;
}

.icone{
    width: 65px;
    height: 50px;
    background: #efe4d5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.icone img{
    width: 38px
}

.contato-box{
    transform: scale(3);
}