*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#1A1A1A;
    padding:40px;
}

.reviews-section{
    position:relative;
    background:#1F4A2E;
    border-radius:12px;
    padding:20px 10px;
    overflow:hidden;
}

.carousel {
    display: flex;
    gap: 22px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card{
    min-width:260px;
    max-width:260px;
    height:330px;

    background:#F5E6D3;

    border-radius:25px;

    box-shadow:
        0 5px 15px rgba(0,0,0,.35);

    padding:25px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    flex-shrink:0;
}

.card h3{
    font-size:1.8rem;
    font-weight:600;
    text-align:center;
}

.stars{
    text-align:center;
    font-size:1.7rem;
}

.card p{
    text-align:center;
    font-size:1.2rem;
    line-height:1.5;
}

.card span{
    text-align:center;
    font-size:1rem;
}


@media(max-width:768px){

    .card{
        min-width:220px;
        height:300px;
    }

    .card h3{
        font-size:1.4rem;
    }

    .card p{
        font-size:1rem;
    }

}